{
    "presets": [
      "@babel/preset-env",
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "services": "./src/services",
          "utils": "./src/utils"
        }
      }]
    ]
  }